<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71962511762-k97g8k55toms4hds12ifk5tbk1dq9u9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71962511762-k97g8k55toms4hds12ifk5tbk1dq9u9o</string>
	<key>API_KEY</key>
	<string>AIzaSyAhzm_IQv2oFEquy3oAV0jjrC2wZFQb7Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>71962511762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derrick.Yooh</string>
	<key>PROJECT_ID</key>
	<string>yooh-eb3ae</string>
	<key>STORAGE_BUCKET</key>
	<string>yooh-eb3ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71962511762:ios:e51260d9a2b0ba6db2d94b</string>
</dict>
</plist>